body {
  background-color: white;
  color: black;
  font-family: times;
  margin: 10% 11%;
}

img {
  width: 40%;
}

.exp-header {
  text-align: left;
  text-transform: ;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: white 
}
